ZULIP_EMAIL="smart-bot@domain.com"
ZULIP_API_KEY="FILL-IN"     # Bot's API key
ZULIP_SITE="https://zulip.domain.com"
OPENAI_API_KEY="FILL-IN"
SMARTBOT_INBOX_STREAM=Inbox     # Channel
SMARTBOT_PROCESS_PRIVATE=false
SMARTBOT_ALLOW_MOVE=true
SMARTBOT_ALLOW_RETOPIC=true
SMARTBOT_DB_PATH=/data/smartbot.sqlite3
